.table-grid {
  width: 80%;
  padding-left: 20%;
}

.table-element {
  border-left: 0.5px solid #b0aead;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.mat-cell:first-child {
  border-left: 0.5px solid #b0aead;
}

.mat-cell:last-child {
  border-right: 0.5px solid #b0aead;
}

.mat-row {
  border-bottom: 0.5px solid #b0aead;
}

.mat-row:first-of-type {
  border-top: 0.5px solid #b0aead;
}
