.analog-clock {
  position: relative;
  margin: 10px auto 0;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 50%;
  margin-bottom: 13px;
}

.hand {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 25px;
  transform-origin: 100% 100%;
}

.hour {
  background-color: #f44336;
}

.minute {
  background-color: #3f51b5;
}

.second {
  background-color: #9e9e9e;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}
