.blink {
  animation: blinker 1.1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.label-character {
  color: #5c5c5d;
  text-align: center;
  border: 1px solid #5c5c5d;
  padding: 5px;
  border-radius: 3px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.label-score {
  color: black;
}

.live-div {
  display: flex;
  justify-content: center;
}

.label-live {
  margin-left: 10px;
  text-decoration: solid;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.score-text {
  margin-top: 15px;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
